/* WEBFONTS ------------------------------- */

@font-face {
    font-family: "Zetkin";
    src: url("https://paul.so/webfonts/Zetkin-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Zetkin";
    src: url("https://paul.so/webfonts/Zetkin-RegularOblique.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* VARIABLES --------------------------- */

:root {
    --bg-color: #fff;
    --text-color: #121111;

    --font: "Zetkin", "Helvetica", "Arial", sans-serif;
    --font-size: 11pt;
    --tracking: 0.15px;
    --line-height: 15pt;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1f1f1f;
        --text-color: #f4f4f4;
    
        --tracking: 0.35px;
    }
}

/* MAIN -------------------------------- */

body {
    margin: 0;
    background: var(--bg-color);
    font-family: var(--font);
    font-size: var(--font-size);
    letter-spacing: var(--tracking);
    line-height: var(--line-height);
    font-weight: 400;
    color: var(--text-color);
}

header {
    margin-top: 60px;
}

header p {
    margin: 20px;
    width: auto;
    max-width: 250px;
}

header p.links a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 5px;
    margin-left: -5px;
    padding-left: 5px;
}

header p.links a:hover {
    font-style: italic;
}

/* LARGE SCREENS ----------------------- */

@media (min-width: 380px) {
    header p {
        margin: 20px 40px;
        max-width: 330px;
    }

    header p.des {
        font-size: 15pt;
        line-height: 22pt;
    }
}

@media (min-width: 600px) {
    header p {
        margin: 20px 60px;
        max-width: 390px;
    }

    header p.des {
        font-size: 18pt;
        line-height: 25pt;
    }
}
